<div class="navbar navbar-expand fixed-bottom bg-black border-top" data-bs-theme="dark" data-controller="dropdown">
  <div class="container-fluid px-3 lg-px-5">
    <%= link_to items_path, class: "navbar-brand" do %>
      <%= image_tag "goldcloud_logo.png", style: "width: 70px;" %>
    <% end %>

    <div class="navbar-nav ms-auto d-flex align-items-center">
      <% unless current_user.role == "admin" %>
        <%= link_to cart_path, class: "nav-link me-3" do %>
          <i class="fa-solid fa-cart-shopping fa-2xl"></i>
        <% end %>
      <% end %>

      <div class="nav-item dropup">
        <button class="btn p-0 border-0 bg-transparent" type="button" id="navbarDropdown" data-bs-toggle="dropdown" data-action="click:dropdown#toggle touchend:dropdown#toggle" aria-expanded="false" style="min-width: 44px; min-height: 44px;">
          <%= image_tag "user_profile.jpg", class: "avatar", alt: "dropdown menu" %>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <% if current_user.role == "admin" %>
            <li class="dropdown-header">Admin Actions</li>
            <li><%= link_to "New Product", new_product_path, class: "dropdown-item" %></li>
            <li><%= link_to "New Package", new_package_path, class: "dropdown-item" %></li>
            <li><%= link_to "Orders", orders_path, class: "dropdown-item" %></li>
            <li><%= link_to "Chats", chats_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
          <% else %>
            <li><%= link_to "Chats", chats_path, class: "dropdown-item" %></li>
            <li><%= link_to "My Orders", orders_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
          <% end %>
          <li><%= link_to "Account", account_path, class: "dropdown-item" %></li>
          <li><%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
