<div class="mt-4 border-bottom">
	<h3 class="mb-3"><%= item.itemable_type %> Reviews</h3>
	<% @item.ratings.each do |rating| %>
	<div class="rating-card border-top py-3 d-flex justify-content-between">
		<div>
			<p class="m-0 fw-bold"><%= rating.user.username %></p>
			<div class="rating mb-2">
				<% item.average_rating.to_i.times do %>
					<i class="bi bi-star-fill text-warning"></i>
				<% end %>
				<% (5 - item.average_rating.to_i).times do %>
					<i class="bi bi-star text-warning"></i>
				<% end %>
			</div>
			<p class="m-0 text-white-50"><%= rating.comment %></p>
		</div>
		<p class="text-white-50"><small><%= time_ago_in_words(rating.created_at) %> ago</small></p>
		<% if current_user&.role == "admin" %>
			<div class="ms-auto">
				<%= link_to "Delete", rating_path(rating), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this rating?" } %>
			</div>
		<% end %>
	</div>
	<% end %>
</div>