<div class="mt-5">
	<div class="pb-3 border-bottom d-flex justify-content-between align-items-center">
		<h3 class="mb-0"><%= item.itemable_type %> Reviews</h3>
		<%= link_to "Add a review", "#", class: "text-success", data: { bs_toggle: "modal", bs_target: "#reviewModal" } %>
	</div>

	<% if @item.ratings.count == 0 %>
		<p class="text-white-50 mt-3">No reviews yet...</p>
	<% else %>
		<% @item.ratings.each do |rating| %>
			<div class="rating-card border-bottom py-3 d-flex justify-content-between">
				<div>
					<p class="mb-1 fw-bold"><%= rating.user.username %></p>
					<div class="rating mb-2">
						<% rating.score.times do %>
							<i class="bi bi-star-fill text-warning"></i>
						<% end %>
						<% (5 - rating.score.to_i).times do %>
							<i class="bi bi-star text-warning"></i>
						<% end %>
					</div>
					<p class="m-0 text-white-50"><%= rating.comment %></p>
				</div>

				<div class="d-flex flex-column justify-content-between">
					<p class="text-white-50"><small><%= time_ago_in_words(rating.created_at) %> ago</small></p>
					<% if current_user&.role == "admin" %>
						<div class="ms-auto">
							<%= link_to "Hide", rating_path(rating), class: "btn btn-sm btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this rating?" } %>
						</div>
					<% end %>
				</div>
			</div>
		<% end %>
	<% end %>

		<!-- Review Modal -->
	<div class="modal fade" data-bs-theme="dark" id="reviewModal" data-controller="review-modal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				
				<div class="modal-header">
					<h5 class="modal-title" id="reviewModalLabel">Add Your Review for <%= @item.itemable.name %></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<%= form_with(model: Rating.new, local: true) do |f| %>
					<div class="modal-body">
						<%= f.hidden_field :item_id, value: item.id %>
						
						<div class="mb-3">
							<label class="form-label">Rating</label>
							<div class="rating-input">
								<% 5.times do |i| %>
									<div class="form-check form-check-inline">
										<%= f.radio_button :score, i + 1, class: "form-check-input", required: true %>
										<%= f.label "score_#{i + 1}", (i + 1).to_s, class: "form-check-label" %>
									</div>
								<% end %>
							</div>
						</div>

						<div class="mb-3">
							<%= f.label :comment, "Your Review", class: "form-label" %>
							<%= f.text_area :comment, class: "form-control", rows: 4, required: true %>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<%= f.submit "Submit Review", class: "btn btn-primary" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>

</div>