<div class="page-header pt-5 pb-3">
  <div class="container d-flex align-items-center">
    <%= link_to items_path do %>
      <i class="fas fa-arrow-left me-2"></i>
    <% end %>
    <h1 class="m-0"><%= @item.itemable.name %></h1>
  </div>
</div>

<div class="container mb-navbar page-content">

  <%= render 'carousel', item: @item %>

  <%= render 'description', item: @item %>

  <% if @item.itemable_type == "Package" %>
    <%= render 'package_items', item: @item %>
  <% end %>

  <%= render 'price', item: @item %>

  <%= render 'actions', item: @item, current_user: current_user %>

  <%= render 'ratings', item: @item, current_user: current_user %>
  
</div>
